<div *ngIf="project !== null" id="panels-container">
  <!-- Sidebar -->
  <div id="panel-left" class="container">
    <div id="list">
      <!-- Routes to main page. -->
      <a class="btn btn-link" routerLink="">
        <i class="fas fa-arrow-left"></i>
      </a>
      <!-- Selects the whole project for generation. -->
      <button type="button" class="btn btn-link" (click)="showComponent(null)">
        <i class="fas fa-bullseye"></i>
      </button>
      <!-- Creates a new "file" for the project to use. -->
      <button
        type="button"
        class="btn btn-link"
        (click)="openNewComposite(newComposite, null)"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <!-- The various sidebar tabs. -->
    <ng-container
      *ngTemplateOutlet="
        sidebarItem;
        context: {
          components: this.project.files,
          parentComponent: null,
          sidebarId: 'sidebar-item-',
          depth: 0
        }
      "
    ></ng-container>
  </div>
  <div id="panel-divider"></div>

  <!-- Right-side Main Body of the page. -->
  <div id="panel-right">
    <div id="section-list">
      <!-- Where the form to modify data and documentation will go. -->
      <div class="section" *ngIf="currComposite !== null">
        <div class="section-heading">
          {{ currComposite.getName() }}
          <div class="float-right">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <ng-container *ngTemplateOutlet="modifyComposite"></ng-container>
      </div>

      <!-- The generated stub/documentation display. -->
      <div class="section">
        <div class="section-heading">
          Generated Stub and Documentation
          <div class="float-right">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
        <div class="section-content">
          <div *ngIf="currComposite !== null; else sectionPseudocodeFalse">
            <pre>{{
              currComposite.generateStub(project.lang, project.doc)
            }}</pre>
          </div>
          <ng-template #sectionPseudocodeFalse>
            <pre>{{ project.exportProject() }}</pre>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Angular template for generating all of the sidebar tabs. -->
<ng-template
  #sidebarItem
  let-components="components"
  let-parentComponent="parentComponent"
  let-sidebarId="sidebarId"
  let-depth="depth"
>
  <ng-template ngFor let-component [ngForOf]="components" let-i="index">
    <div
      id="{{ sidebarId }}{{ i }}"
      class="row"
      [ngClass]="{ targeted: component === currComposite }"
    >
      <!-- Clickable name. -->
      <div
        class="pointer"
        (click)="showComponent(component)"
        [ngStyle]="{ 'margin-left': 'calc(15 * ' + depth + 'px)' }"
      >
        {{ component.getName() }}
      </div>

      <div class="float-right">
        <!-- Delete component button. -->
        <button
          type="button"
          class="btn btn-link"
          (click)="deleteComponent(component, parentComponent)"
        >
          <i class="fas fa-minus pr-2"></i>
        </button>

        <!-- Add sub-component button. -->
        <button
          *ngIf="componentCanMakeDescendents(component)"
          type="button"
          class="btn btn-link"
          (click)="openNewComposite(newComposite, component)"
        >
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>

    <!-- Recursively generates the object's descendants. -->
    <ng-template [ngIf]="component.getDescendents().length > 0">
      <ng-container
        *ngTemplateOutlet="
          sidebarItem;
          context: {
            components: component.getDescendents(),
            parentComponent: component,
            sidebarId: sidebarId + '-' + i + '-',
            depth: depth + 1
          }
        "
      ></ng-container>
    </ng-template>
  </ng-template>
</ng-template>

<!-- Angular template for a form that modifies the current Composite object. -->
<ng-template #modifyComposite>
  <form
    [formGroup]="modifyCompositeForm"
    (ngSubmit)="onModifyCompositeSumbit()"
  >
    <div class="section-content" *ngIf="currComposite !== null">
      <!-- INPUT: Description. -->
      <input
        type="text"
        class="form-control"
        formControlName="description"
        placeholder="Description"
        value="{{ currComposite.getDescription() }}"
        required
      />
      <hr />
      <!-- TODO: Generate additional inputs based on currComposite type. -->
    </div>
  </form>
</ng-template>

<!-- Angular template for a modal form that generates a new Composite object. -->
<ng-template #newComposite let-modal>
  <form [formGroup]="newCompositeForm" (ngSubmit)="onNewCompositeSubmit(modal)">
    <div class="modal-header d-flex">
      <!-- INPUT: Name of Composite object. -->
      <label for="name">
        <input
          class="form-control"
          type="text"
          id="name"
          placeholder="Name"
          formControlName="name"
          required
        />
      </label>

      <div class="ml-auto">
        <!-- OPTION: Dismiss modal. -->
        <button
          type="button"
          class="btn btn-link pr-2"
          (click)="modal.dismiss()"
        >
          <i class="fas fa-times"></i>
        </button>

        <!-- OPTION: Submit the form. -->
        <button
          type="submit"
          class="btn btn-link"
          value="Submit"
          [disabled]="!newCompositeForm.valid"
        >
          <i class="fas fa-check"></i>
        </button>
      </div>
    </div>

    <!-- INPUT: Select from provided Composite types. -->
    <div class="modal-header d-flex header">
      <label
        *ngFor="let item of currTypes"
        class="btn btn-light mr-3"
        for="type-{{ item.id }}"
      >
        <input
          class="hide-checkbox"
          type="radio"
          name="type"
          formControlName="type"
          id="type-{{ item.id }}"
          autocomplete="off"
          value="{{ item.id }}"
          required
          [attr.disabled]="item.disabled ? true : null"
        />
        {{ item.name }}
      </label>
    </div>

    <!-- INPUT: Additional arguments specific to each type. -->
    <ng-template ngFor let-item [ngForOf]="currTypes">
      <div
        formGroupName="{{ item.id }}"
        class="modal-body container"
        *ngIf="newCompositeForm.get('type')?.value === item.id"
      >
        <!-- Selects input types for each aspect of the template. -->
        <div
          class="row"
          *ngFor="let dataItem of item.data"
          [ngSwitch]="dataItem.type"
        >
          <!-- CASE: Array of Inputs -->
          <div class="col" *ngSwitchCase="'array'">
            <div class="row px-4">
              <h2>{{ dataItem.name }}</h2>
              <div>
                <!-- OPTION: Add an array field. -->
                <button
                  type="button"
                  class="btn btn-link pl-2"
                  (click)="addArrayField(item.id, dataItem.id)"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- Presents all array input lines. -->
            <div
              *ngFor="
                let control of getArrayControls(item.id, dataItem.id);
                index as i
              "
              class="d-flex"
            >
              <!-- Where the input is typed in. -->
              <input
                class="form-control"
                placeholder="Argument"
                required
                [formControl]="control"
              />
              <!-- OPTION: Remove this particular array input line. -->
              <button
                type="button"
                class="btn btn-link pl-2"
                (click)="removeArrayField(item.id, dataItem.id, i)"
              >
                <i class="fas fa-minus pl-2"></i>
              </button>
            </div>
          </div>

          <!-- CASE: Input string. -->
          <div class="col" *ngSwitchCase="'string'">
            <div class="row px-4">
              <h2>{{ dataItem.name }}</h2>
            </div>
            <input
              class="form-control"
              placeholder="void"
              formControlName="{{ dataItem.id }}"
            />
          </div>

          <!-- CASE: Input dropdown. -->
          <div class="col" *ngSwitchCase="'dropdown'">
            <div class="row px-4">
              <h2>{{ dataItem.name }}</h2>
            </div>
            <!-- Can generate for a language's types. -->
            <select
              *ngIf="dataItem.id === 'type'"
              class="form-control"
              placeholder="void"
              formControlName="{{ dataItem.id }}"
            >
              <option
                *ngFor="let t of project?.lang?.types; let i = index"
                value="{{ project!.lang!.types[i]!.name }}"
              >
                {{ project!.lang!.types[i]!.name }}
              </option>
            </select>
            <!-- Can generate for a language's modifiers. -->
            <select
              *ngIf="dataItem.id === 'modifier'"
              class="form-control"
              placeholder="void"
              formControlName="{{ dataItem.id }}"
            >
              <option
                *ngFor="let t of project?.lang?.modifiers; let i = index"
                value="{{ project!.lang!.modifiers[i] }}"
              >
                {{ project!.lang!.modifiers[i] }}
              </option>
            </select>
          </div>

          <!-- CASE: Default.  Not supported. -->
          <ng-template *ngSwitchDefault></ng-template>
        </div>
      </div>
    </ng-template>
  </form>
</ng-template>
