<div *ngIf="project !== null" id="panels-container">
  <!-- Left sidebar of the page. -->
  <div id="panel-left" class="container">
    <div id="list">
      <!-- Option: Go to project menu. -->
      <a class="btn btn-link" routerLink="">
        <i class="fas fa-arrow-left"></i>
      </a>

      <!-- Option: Export project files. -->
      <button type="button" class="btn btn-link" (click)="saveToFiles()">
        <i class="fas fa-file-export"></i>
      </button>

      <!-- Option: Show the entire project. -->
      <button type="button" class="btn btn-link" (click)="showComponent(null)">
        <i class="fas fa-bullseye"></i>
      </button>

      <!-- Add a new Composite file to the project. -->
      <button
        type="button"
        class="btn btn-link"
        (click)="openNewComposite(newComposite, null)"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <!-- Angular Container for the sidebar. -->
    <ng-container
      *ngTemplateOutlet="
        sidebarItem;
        context: {
          components: this.project.files,
          parentComponent: null,
          sidebarId: 'sidebar-item-',
          depth: 0
        }
      "
    >
    </ng-container>
  </div>
  <div id="panel-divider"></div>
  <!-- Main body of the page. -->
  <div id="panel-right">
    <div id="section-list">
      <!-- Overview + Editing form for any Composite object. -->
      <div class="section" *ngIf="currComposite !== null">
        <!-- Heading. -->
        <div class="section-heading">
          Overview of
          <span class="text-capitalize">{{ currComposite.getType() }}</span>
        </div>
        <!-- "Universal" parts of the form. -->
        <div class="section-content">
          <div>
            <label for="edit-name" class="w-100">
              <input
                #nameValue
                class="form-control"
                type="text"
                id="edit-name"
                name="edit-name"
                placeholder="Name"
                [value]="currComposite.getName()"
                required
                (change)="
                  currComposite.setName(nameValue.value); saveComposite()
                "
              />
            </label>
            <label for="description" class="w-100">
              <input
                #descriptionValue
                class="form-control"
                type="text"
                id="edit-description"
                name="edit-description"
                placeholder="Description"
                [value]="currComposite.getDescription()"
                required
                (change)="
                  currComposite.setDescription(descriptionValue.value);
                  saveComposite()
                "
              />
            </label>
          </div>
          <hr />
          <!-- Composite-object specific form. -->
          <div class="mx-auto">
            <!-- Picks elements according to what is specified in the template. -->
            <div
              class="mb-3"
              *ngFor="let dataItem of currCompositeData; index as x"
              [ngSwitch]="dataItem.type"
            >
              <!-- Case: Input is an array of things. -->
              <div class="col" *ngSwitchCase="'array'">
                <div class="row px-4">
                  <h5>{{ dataItem.name }}</h5>
                  <div>
                    <button
                      type="button"
                      class="btn btn-link pl-2"
                      (click)="
                        dataItem.value.push('');
                        onEditComposite(dataItem.id, dataItem.value)
                      "
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div
                  *ngFor="let item of dataItem.value; index as i"
                  class="d-flex"
                >
                  <input
                    #inputValue
                    class="form-control"
                    placeholder="Argument"
                    name="edit-{{ item.id }}-{{ dataItem.id }}-{{ i }}"
                    id="edit-{{ item.id }}-{{ dataItem.id }}-{{ i }}"
                    [value]="item"
                    required
                    (change)="
                      dataItem.value[i] = inputValue.value;
                      onEditComposite(dataItem.id, dataItem.value)
                    "
                  />
                  <button
                    type="button"
                    class="btn btn-link pl-2"
                    (click)="
                      dataItem.value.splice(i, 1);
                      onEditComposite(dataItem.id, dataItem.value)
                    "
                  >
                    <i class="fas fa-minus pl-2"></i>
                  </button>
                </div>
              </div>
              <!-- Case: Input is a string. -->
              <div class="col" *ngSwitchCase="'string'">
                <div class="row px-4">
                  <h5>{{ dataItem.name }}</h5>
                </div>
                <input
                  #inputValue
                  class="form-control"
                  placeholder="void"
                  name="edit-{{ dataItem.id }}"
                  id="edit-{{ dataItem.id }}"
                  [value]="dataItem.value"
                  (change)="onEditComposite(dataItem.id, inputValue.value)"
                  required
                />
              </div>
              <!-- Case: Input is a dropdown. -->
              <div class="col" *ngSwitchCase="'dropdown'">
                <div class="row px-4">
                  <h5>{{ dataItem.name }}</h5>
                </div>
                <!-- Case: Dropdown is for types. -->
                <select
                  #inputValue
                  *ngIf="dataItem.id === 'type'"
                  class="form-control"
                  placeholder="void"
                  name="edit-{{ dataItem.id }}"
                  id="edit-{{ dataItem.id }}"
                  [value]="dataItem.value"
                  (change)="onEditComposite(dataItem.id, inputValue.value)"
                  required
                >
                  <option
                    *ngFor="let t of project?.lang?.types; let i = index"
                    value="{{ project!.lang!.types[i]!.name }}"
                  >
                    {{ project!.lang!.types[i]!.name }}
                  </option>
                  >
                </select>
                <!-- Case: Dropdown is for modifiers. -->
                <select
                  #inputValue
                  *ngIf="dataItem.id === 'modifier'"
                  class="form-control"
                  placeholder="void"
                  name="edit-{{ dataItem.id }}"
                  id="edit-{{ dataItem.id }}"
                  [value]="dataItem.value"
                  (change)="onEditComposite(dataItem.id, inputValue.value)"
                  required
                >
                  <option
                    *ngFor="let t of project?.lang?.modifiers; let i = index"
                    value="{{ project!.lang!.modifiers[i] }}"
                  >
                    {{ project!.lang!.modifiers[i] }}
                  </option>
                  >
                </select>
              </div>
              <!-- Case: Default, but not implemented. -->
              <ng-template *ngSwitchDefault></ng-template>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for generated pseudocode and documentation. -->
      <div class="section">
        <div class="section-heading">
          Pseudocode
        </div>
        <div class="section-content">
          <div *ngIf="currComposite !== null; else sectionPseudocodeFalse">
            <pre
              >{{ currComposite.generateStub(project.lang, project.doc) }}
            </pre>
          </div>
          <ng-template #sectionPseudocodeFalse>
            <pre
              >{{ project.exportProject() }}
            </pre>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Angular Template for the Sidebar. -->
<ng-template
  #sidebarItem
  let-components="components"
  let-parentComponent="parentComponent"
  let-sidebarId="sidebarId"
  let-depth="depth"
>
  <ng-template ngFor let-component [ngForOf]="components" let-i="index">
    <div
      id="{{ sidebarId }}{{ i }}"
      class="row"
      [ngClass]="{ targeted: component === currComposite }"
    >
      <div
        class="pointer"
        (click)="showComponent(component)"
        [ngStyle]="{ 'margin-left': 'calc(15 * ' + depth + 'px)' }"
      >
        {{ component.getName() }}
      </div>

      <div class="float-right">
        <button
          type="button"
          class="btn btn-link"
          (click)="deleteComponent(component, parentComponent)"
        >
          <i class="fas fa-minus pr-2"></i>
        </button>

        <button
          *ngIf="componentCanMakeDescendents(component)"
          type="button"
          class="btn btn-link"
          (click)="openNewComposite(newComposite, component)"
        >
          <i class="fas fa-plus"></i>
        </button>
        <!-- <i class="fas fa-angle-up"></i> -->
      </div>
    </div>
    <ng-template [ngIf]="component.getDescendents().length > 0">
      <ng-container
        *ngTemplateOutlet="
          sidebarItem;
          context: {
            components: component.getDescendents(),
            parentComponent: component,
            sidebarId: sidebarId + '-' + i + '-',
            depth: depth + 1
          }
        "
      >
      </ng-container>
    </ng-template>
  </ng-template>
</ng-template>

<!-- Angular Template for the "Create Composite" modal. -->
<ng-template #newComposite let-modal>
  <form #newCompositeForm="ngForm" (ngSubmit)="onNewCompositeSubmit(modal)">
    <div class="modal-header d-flex">
      <label for="name">
        <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          [(ngModel)]="compositeForm.name"
          required
        />
      </label>
      <div class="ml-auto">
        <button
          type="button"
          class="btn btn-link pr-2"
          (click)="modal.dismiss()"
        >
          <i class="fas fa-times"></i>
        </button>
        <button
          type="submit"
          class="btn btn-link"
          value="Submit"
          [disabled]="!newCompositeForm.valid"
        >
          <i class="fas fa-check"></i>
        </button>
      </div>
    </div>
    <div class="modal-header d-flex header">
      <label
        *ngFor="let item of currTypes"
        class="btn btn-light mr-3"
        for="type-{{ item.id }}"
      >
        <input
          class="hide-checkbox"
          type="radio"
          name="type"
          [(ngModel)]="compositeForm.type"
          id="type-{{ item.id }}"
          autocomplete="off"
          value="{{ item.id }}"
          required
          [attr.disabled]="item.disabled ? true : null"
        />
        {{ item.name }}
      </label>
    </div>
    <ng-template ngFor let-item [ngForOf]="currTypes">
      <div
        ngModelGroup="{{ item.id }}"
        class="modal-body container"
        *ngIf="compositeForm.type === item.id"
      >
        <div
          class="row"
          *ngFor="let dataItem of item.data"
          [ngSwitch]="dataItem.type"
        >
          <div class="col" *ngSwitchCase="'array'">
            <div class="row px-4">
              <h5>{{ dataItem.name }}</h5>
              <div>
                <button
                  type="button"
                  class="btn btn-link pl-2"
                  (click)="addArrayField(item.id, dataItem.id)"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <div
              *ngFor="
                let control of getArrayControls(item.id, dataItem.id);
                index as i;
                trackBy: trackByArr
              "
              class="d-flex"
            >
              <input
                class="form-control"
                placeholder="Argument"
                name="{{ item.id }}-{{ dataItem.id }}-{{ i }}"
                id="{{ item.id }}-{{ dataItem.id }}-{{ i }}"
                required
                [(ngModel)]="compositeForm[item.id][dataItem.id][i]"
              />
              <button
                type="button"
                class="btn btn-link pl-2"
                (click)="removeArrayField(item.id, dataItem.id, i)"
              >
                <i class="fas fa-minus pl-2"></i>
              </button>
            </div>
          </div>
          <div class="col" *ngSwitchCase="'string'">
            <div class="row px-4">
              <h5>{{ dataItem.name }}</h5>
            </div>
            <input
              class="form-control"
              placeholder="void"
              name="{{ item.id }}-{{ dataItem.id }}"
              id="{{ item.id }}-{{ dataItem.id }}"
              [(ngModel)]="compositeForm[item.id][dataItem.id]"
              required
            />
          </div>
          <div class="col" *ngSwitchCase="'dropdown'">
            <div class="row px-4">
              <h5>{{ dataItem.name }}</h5>
            </div>
            <select
              *ngIf="dataItem.id === 'type'"
              class="form-control"
              placeholder="void"
              name="{{ item.id }}-{{ dataItem.id }}"
              id="{{ item.id }}-{{ dataItem.id }}"
              [(ngModel)]="compositeForm[item.id][dataItem.id]"
              required
            >
              <option
                *ngFor="let t of project?.lang?.types; let i = index"
                value="{{ project!.lang!.types[i]!.name }}"
              >
                {{ project!.lang!.types[i]!.name }}
              </option>
              >
            </select>
            <select
              *ngIf="dataItem.id === 'modifier'"
              class="form-control"
              placeholder="void"
              name="{{ item.id }}-{{ dataItem.id }}"
              id="{{ item.id }}-{{ dataItem.id }}"
              [(ngModel)]="compositeForm[item.id][dataItem.id]"
              required
            >
              <option
                *ngFor="let t of project?.lang?.modifiers; let i = index"
                value="{{ project!.lang!.modifiers[i] }}"
              >
                {{ project!.lang!.modifiers[i] }}
              </option>
              >
            </select>
          </div>
          <ng-template *ngSwitchDefault></ng-template>
        </div>
      </div>
    </ng-template>
  </form>
</ng-template>
